<% content_for :secondary do %> 
<h3>Albums</h3> 
<ul id="albums_list"> 
  <% @albums.each do |album| %> 
  <li> 
    <%= link_to album.title, album %><br /> 
    <%= link_to image_tag(album.photos.last.image.url(:square)), album if album.photos.last %> 
  </li> 
<% end -%> 
</ul> 
<% end -%> 

<h1>Listing photos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Taken on</th>
    <th>Image file name</th>
    <th>Image content type</th>
    <th>Image file size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.title %></td>
    <td><%= photo.description %></td>
    <td><%= photo.taken_on %></td>
    <td><%= photo.image_file_name %></td>
    <td><%= photo.image_content_type %></td>
    <td><%= photo.image_file_size %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
